%section.hero.is-dark
  .hero-body
    .container
      %h1.title
        %i.fa.fa-wifi{"aria-hidden" => true}
        WiFi Assistant
      %p.subtitle Making WiFi great again

= javascript_pack_tag 'dashboard'
