/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bulma/sass/utilities/initial-variables";

#dashboard {
  padding: 1.5em;
}

.dashboard--card {
  height: 100%;
}

.dashboard--bars {
  position: relative;
  margin: 0 auto 0 auto;
  width: 62px;
  height: 30px;
}

.dashboard--bars-bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  &:nth-child(1) {
    height: 10px;
    left: 0px;
  }
  &:nth-child(2) {
    height: 15px;
    left: 13px;
  }
  &:nth-child(3) {
    height: 20px;
    left: 26px;
  }
  &:nth-child(4) {
    height: 25px;
    left: 39px;
  }
  &:nth-child(5) {
    height: 30px;
    left: 52px;
  }

  &.is-bad { background-color: $red; }
  &.is-avg { background-color: $turquoise; }
  &.is-good { background-color: $blue; }
  &.is-fill { background-color: $grey-lighter; }
}

.dashboard--table {
  margin-top: 1.5em;
}

.dashboard--speed-test {
  text-align: center;

  dt, dd {
    line-height: 14px;
    display:inline;
  }

  dd {
    vertical-align: super;
  }
}
